@import 'Base/colors.css';
@import 'Base/fonts.css';
@import 'Variables/font-size.css';
@import 'Components/button.css';
@media (max-width: 767.98px) {
  /* GENERAL */
  a {
    text-decoration: none;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-family: roboto;
  }
  p {
    margin: 8px 0;
  }
  /* HEADER */
  header {
    display: flex;
    flex-direction: row;
    height: 63px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    align-items: center;
  }
  .fa-arrow-right {
    transform: rotate(180deg);
    color: #000000;
    padding-left: 5px;
    margin-left: 6px;
  }
  .logo-header {
    position: absolute;
    left: 25%;
  }
  header img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* MAIN */
  main {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Shrikhand;
  }
  main img {
    position: initial;
    height: 100%;
    width: 100%;
  }
  h2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
  }
  h3 {
    margin: 0;
  }
  /*ENTREES*/
  .restaurant {
    position: relative;
    top: -50px;
    background-color: #F6F6F6;
    padding-left: 10px;
    padding-bottom: 40px;
  }
  .heart .fa-regular.fa-heart {
    position: absolute;
    display: flex;
    right: 65px;
    top: 35px;
    font-size: 22px;
  }
  .heart .fa-regular.fa-heart:active {
    opacity: 0;
  }
  .heart .fa-solid.fa-heart {
    position: absolute;
    display: flex;
    font-size: 22px;
    right: 65px;
    top: 35px;
    color: #9356DC;
    opacity: 0;
  }
  .heart .fa-solid.fa-heart:active {
    opacity: 1;
    display: flex;
  }
  .card {
    height: 69px;
    background-color: #ffffff;
    box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
    margin: 15px 15px 0 0;
    border-radius: 15px;
  }
  .card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000000;
    padding-right: 5px;
  }
  .card-content .prix {
    padding-right: 15px;
    padding-top: 36px;
  }
  .icon_valid {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: -moz-max-content;
    height: max-content;
    width: 59px;
    height: 69px;
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    cursor: auto;
    position: relative;
  }
  .card:hover .icon_valid {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slidein 1s linear forwards;
  }
  .card:not(:hover) .icon_valid {
    animation: slideout 1s linear forwards;
  }
  @keyframes slidein {
    0% {
      opacity: 0.1;
      width: 0;
    }
    50% {
      opacity: 0.2;
      width: 10%;
    }
    100% {
      opacity: 1;
      width: 15%;
    }
  }
  @keyframes slideout {
    0% {
      opacity: 1;
      width: 15%;
    }
    50% {
      opacity: 0.2;
      width: 10%;
    }
    100% {
      opacity: 1;
      width: 0;
      opacity: 0;
      width: 0;
    }
  }
  .card_no_icon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
  }
  .menu__price {
    margin-bottom: 7px;
    width: 100%;
  }
  .command {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin-top: -50px;
    background-color: #F6F6F6;
  }
  button {
    width: 186px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: 0;
  }
  button:hover {
    opacity: 0.7;
  }
  /*FOOTER*/
  footer {
    color: white;
    list-style-type: none;
    background-color: #353535;
  }
  .informations ul {
    align-items: flex-start;
    padding: 22px 25px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }
  .logo_footer {
    display: flex;
    justify-content: start;
    width: 137.58px;
    height: 27px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Shrikhand;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
  }
  .informations-icon {
    display: flex;
    color: white;
    font-size: 16px;
    gap: 5px;
  }
  .fa-solid.fa-utensils .fa-solid.fa-handshake-angle {
    width: 11px;
    height: 13px;
  }
  .mailto {
    color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  /* GENERAL */
  a {
    text-decoration: none;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-family: roboto;
  }
  p {
    margin: 8px 0;
  }
  /* HEADER */
  header {
    display: flex;
    flex-direction: row;
    height: 96px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    align-items: center;
  }
  .fa-arrow-right {
    transform: rotate(180deg);
    justify-content: start;
    margin-left: 12px;
    color: #000000;
  }
  header img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* MAIN */
  main {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  .heart .fa-regular.fa-heart {
    display: flex;
    position: absolute;
    font-size: 22px;
    opacity: 1;
  }
  .heart .fa-regular.fa-heart:active {
    opacity: 0;
  }
  .heart .fa-solid.fa-heart {
    display: flex;
    font-size: 22px;
    right: 30px;
    top: 247px;
    opacity: 0;
    color: #9356DC;
  }
  .heart .fa-solid.fa-heart:active {
    opacity: 1;
    cursor: pointer;
  }
  h1 {
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Shrikhand;
  }
  main img {
    position: initial;
    width: 100%;
    height: 383px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  h2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    color: #000000;
    border-bottom: solid #99E2D0;
    width: 40px;
  }
  h3 {
    margin: 0;
  }
  .content {
    position: relative;
    border-radius: 40px 40px 0 0;
    margin: -50px 167px;
    padding: 20px 10%;
    margin-bottom: 0;
    background-color: #F6F6F6;
  }
  /*ENTREES*/
  .restaurant {
    top: -50px;
    padding-left: 10px;
    padding-bottom: 40px;
  }
  .card {
    height: 69px;
    background-color: #ffffff;
    box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
    margin: 15px 15px 0 0;
    border-radius: 15px;
    position: relative;
  }
  .card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    color: #000000;
    align-content: center;
    align-items: center;
    padding-left: 8px;
    height: 100%;
  }
  .card-content .prix {
    padding-right: 15px;
    padding-top: 25px;
  }
  .icon_valid {
    display: none;
    top: 0;
    right: 0;
    width: 59px;
    height: 69px;
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    cursor: auto;
  }
  .card:hover .icon_valid {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slidein 1s linear forwards;
  }
  .card:not(:hover) .icon_valid {
    animation: slideout 1s linear forwards;
  }
  @keyframes slidein {
    0% {
      opacity: 0.1;
      width: 0;
    }
    50% {
      opacity: 0.2;
      width: 10%;
    }
    100% {
      opacity: 1;
      width: 15%;
    }
  }
  @keyframes slideout {
    0% {
      opacity: 1;
      width: 15%;
    }
    50% {
      opacity: 0.2;
      width: 10%;
    }
    100% {
      opacity: 1;
      width: 0;
      opacity: 0;
      width: 0;
    }
  }
  .card_no_icon {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .menu__price {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .command {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    background-color: #F6F6F6;
  }
  .fa--circle {
    visibility: visible;
    width: 22px;
    height: 21px;
    border-radius: 50%;
  }
  .fa--circle:hover {
    visibility: visible;
    transform: rotate(360deg);
  }
  button {
    width: 186px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: 0;
  }
  button:hover {
    opacity: 0.7;
  }
  /*FOOTER*/
  footer {
    background-color: #353535;
  }
  .informations {
    display: flex;
    flex-direction: row-reverse;
    color: #FFFFFF;
    gap: 16px;
    margin-top: 40px;
  }
  .logo_footer {
    display: flex;
    justify-content: start;
    width: 137.58px;
    height: 27px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Shrikhand;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
  }
  .informations ul {
    align-items: flex-start;
    padding: 22px 25px;
    list-style-type: none;
    display: flex;
    gap: 5px;
    margin: 0;
  }
  .informations-icon {
    display: flex;
    color: white;
    font-size: 16px;
    gap: 10px;
  }
  i.fa-utensils.fa-utensils {
    width: 11px;
    height: 13px;
    margin-right: 10px;
  }
  .mailto {
    color: #FFFFFF;
  }
}/*# sourceMappingURL=style_carte.css.map */