$light-white: #FFFFFF;
$light-white-back: #F6F6F6;
$light-white-btwo:#EAEAEA;
$light-black: #000000;
$light-purple:#9356DC;
$light-grey: #353535;
$light-gtwo: #7E7E7E;
$light-green: #008766;
$light-green-back: #99E2D0;
$light-gradient-first:  #9356DC;
$light-gradient-second: #FF79DA;